-r https://raw.githubusercontent.com/sitatec/turbogen/refs/heads/main/requirements.txt

torch==2.11.0 # Already defined in the requirements.txt above but this serves as a hint for cog to pick the right base image
flashinfer-python[cu13]
flashinfer-cubin
optimum
gptqmodel