git+https://github.com/sitatec/turbogen.git
torch==2.11.0+cu130 # Already defined in turbogen deps, but we redefine it here to let cog know the version to use prebuilt base images
flashinfer-python[cu13]
flashinfer-cubin
optimum
gptqmodel
# Below deps are required by fa4
einops
apache-tvm-ffi
nvidia-cutlass-dsl