--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.10.0
opencv-python-headless
Pillow
numpy
fast-thumbhash
aiohttp
transformers
hf-transfer
huggingface-hub
piexif
sgl-kernel
triton
decord
sageattention==2.2.0
https://github.com/windreamer/flash-attention3-wheels/releases/download/2026.01.26-f6c4937/flash_attn_3-3.0.0b1%2B20260126.cu130torch2100cxx11abitrue.438325-cp39-abi3-linux_x86_64.whl
git+https://github.com/sitatec/LightX2V.git@return-tensor