#gptqmodel/bitsandbytes/auto-roung  # depending on env (e.g. auto-round/bitsandbytes on huggingface zero-gpu spaces gptqmodel preferred where compatible)
#optimum  # you also need optimum if you are using auto-round or gptqmodel

torch==2.11.0
opencv-python-headless
Pillow
numpy
fast-thumbhash
aiohttp
# diffusers
# torchao
transformers>=5.0.0
accelerate
hf-transfer
huggingface-hub
timm
piexif
sglang-kernel
triton
#kernels==0.14.1
decord
# We are currently installing fa4 directly without `kernels` until a sm12 specific bug is fixed. So we comment the following
# einops                                                                                                                                                     # Required by flash-attention 4
# apache-tvm-ffi                                                                                                                                             # Required by flash-attention 4
# nvidia-cutlass-dsl                                                                                                     
# flash-attn-4[cu13] @ git+https://github.com/sitatec/flash-attention.git#subdirectory=flash_attn/cute                                                       # Required by flash-attention 4
lightx2v @ git+https://github.com/sitatec/LightX2V.git@torch2.11.0
lightx2v_kernel @ https://huggingface.co/sitatech/lightx2v_kernel/resolve/main/lightx2v_kernel-0.0.1%2Bcu130torch2.11sm100sm120-cp39-abi3-linux_x86_64.whl